<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <a href="/">Home Page</a>
    {{>headers}}
    <h3>Users Page</h3>
    <table>
        <thead>
            <th>
                Users
            </th>
            <th>Emails</th>
        </thead>

        {{#each users}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>
                <a href="/users/edit/{{this._id}}">edit</a>
                <a href="/users/delete/{{this._id}}" onclick="confirm('Are you sure want to delete')">delete</a>
            </td>
        </tr>
        {{/each}}

    </table>

</body>

</html>