* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 450px;
  top: 100px;
  position: relative;
}

.content {
  width: 600px;
  height: 300px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #d3d3d3 5px 5px 5px 5px;
}

h1 {
  color: burlywood;
}
i {
  color: burlywood;
}
button {
  width: 80%;
  color: burlywood !important;
}
.signUp {
  margin: 20px;
}
.login {
  margin: 20px;
}
button a {
  text-decoration: none;
  font-size: 20px;
  list-style-type: none;
  margin-right: 20px;
  color: white;
  font-size: 20px;
}

button a:hover {
  color: white;
  text-decoration: none;
}
